<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">User Data</h4>
                    <p class="category"></p>
                    <div class="row">
                    <div class="col-md-3">
                    <p-calendar [(ngModel)]="fromDate" placeholder="From Date" dateFormat="dd/mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                    <div class="col-md-3">
                            <p-calendar [(ngModel)]="toDate" placeholder="To Date" dateFormat="dd/mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                    <div class="col-md-3">
                            <p-button icon="pi pi-check" label="get Result" (click)="filterData()"></p-button>
                    </div>
                    </div>  
                   
                </div>
                <div class="content table-responsive table-full-width">
                    <p-table [columns]="header" [value]="tableData" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
</div>
